{% extends 'base.html.twig' %}
{% block body %}
	<div class="container flex flex-row items-center mt-[6rem] m-auto">
		<div class="w-[calc(47%)]">
			<p class="font-bold text-sm mb-3 text-tertiary">----- Best Learning Platform</p>
			<h1 class="font-title text-6xl leading-snug">The Biggest Wealth is Your
				<span class="text-secondary">Health.</span>
			</h1>
			<p class="text-dark text-lg mt-3 leading-relaxed">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla.</p>
			<div>
				<button class="z-1 flex mt-8 py-3 px-5 text-light bg-tertiary rounded-tl-lg rounded-br-lg">
					<div class="z-10 bg-white w-fit hover:-transform-y-5"></div>Get Started
					<span class="ml-2 pt-[3px]">{{ include('./components/svg/pen.svg.twig') }}</span>
				</button>
			</div>
		</div>
		<img width="725" class="object-contain rounded-tl-lg rounded-br-lg" src={{ asset('build/banner-img-2.jpg') }}/>
	</div>
{% endblock %}
