<div class="bg-primary flex flex-row justify-between shadow-[0_-3px_15px_-3px_rgba(0,0,0,0.3)] w-full mt-10">
    <p class="py-7 ml-10">Jufa 2023, all rights reserved.</p>
    <a href="#" class="py-7 mr-10 hover:text-secondary transition">Legal notices</a>
</div>